// main: ../_media.sass
*
  box-sizing: border-box
  margin: 0
  padding: 0
  line-height: 1.2
  font-family: $lato

body
  @import ../menu.sass
  +background

  height: auto
  background-color: var(--color-bg)
  color: var(--color-text)

.overlay
  position: fixed
  top: 0
  right: 0
  z-index: -1
  width: 100%
  height: 100%
  background: rgba(var(--color-bg--rgb), 0.9)

h1, h2, h3

  &.main-title
    line-height: 0.8
    font-size: 3.2rem
    font-family: $neuton
    font-weight: 900
    letter-spacing: 0.05em

    span
      font-family: inherit
      line-height: 1

  &.sub-title
    font-size: 1.1rem
    margin-top: 1rem
    margin-bottom: 1.5rem

a
  text-decoration: none

header
  position: fixed
  width: 100%
  height: 0
  z-index: 3

.accent-color
  color: var(--color-accent)

main
  padding: 2rem
  height: 100%
  display: grid
  grid: none
  justify-items: center
  min-height: 100vh

.one-page
  overflow: hidden

.wrapper
  padding-top: 8vh
  text-align: center

.spotlight
  text-align: center

  .logo
    margin: 1rem 0
    width: 60%
    max-width: 250px
    height: auto

    .logo-svg
      fill: var(--color-text)

  .icons
    z-index: 2
    font-size: 1.2rem

    a
      height: auto
      width: auto
      padding: 0.65rem

      i
        color: var(--color-text)

        +easeOut

      &:hover
        i
          cursor: pointer
          color: var(--color-accent)
