// main: _mixins.sass

//fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap")

$lato: "Lato", sans-serif
$neuton: "Neuton", serif

//colours $
$text-default-color: #DADDD8
$primary-color: #40434E
$accent-color: #ff6d00

//images
$home-img: url(../img/chris-ried-ieic5Tq8YMk-unsplash.jpg)

//variables
$show-bg-img: true
