// main: master.sass
/* Small Devices (Landscape)
@media only screen and (min-width: 600px) and (orientation: landscape)
  .ipsum
    visibility: visible

/* Small devices (portrait)
@media only screen and (min-width: 600px) and (orientation: portrait)
  main
    padding: 2rem 6rem
    height: 100vh

  .wrapper
    margin-top: 5vh
    padding-top: 0
    text-align: left

    .main-title
      font-size: 6.5rem

    .sub-title
      font-size: 2.2rem
      font-weight: 400
      margin-bottom: 2rem

  .spotlight
    margin-top: 5rem
    grid-template: 1fr 5rem / 1fr

    .logo
      max-width: 350px
      margin-bottom: 2.8rem

    .icons
      font-size: 2.4rem

/* Medium devices (portrait)
@media only screen and (min-width: 768px) and (orientation: portrait)
  .ipsum
    visibility: visible

/*Medium Devices (landscape)
@media only screen and (max-width: 768px) and (orientation: landscape)
  main
    grid: (auto-flow / 1fr) 1fr

    .wrapper, .spotlight
      padding-top: 0
      margin-top: 10vh

/* Large devices (portrait)
@media only screen and (min-width: 992px) and (orientation: portrait)
  .ipsum
    visibility: visible

/* Large devices (landscape)
@media only screen and (min-width: 992px) and (orientation: landscape)
  main
    grid: (auto-flow / 1fr) 1fr
    padding: 6rem

    .wrapper, .spotlight
      height: 100%
      margin: 0
      padding: 10vh 0
      align-self: center

    .wrapper
      padding-right: 4rem
      border-right: 3px $text-default-color solid

      .main-title
        font-size: 5.5rem
        padding: 5px 0

      .sub-title
        margin-top: 2.8rem
        font-size: 1.8rem

    .spotlight
      padding-left: 4rem

      .logo
        max-width: 400px
        margin: 0 0 2.5rem 0

      .icons
        font-size: 2.1rem

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px)
  .ipsum
    visibility: visible
