// main: master.sass
//hamburger icon
$btn-location: 40px
$btn-width: 30px
$btn-line-height: 4px
$btn-line-space: 5px

.menu-btn
  position: absolute
  z-index: 3
  right: $btn-location
  top: $btn-location
  cursor: pointer

  +easeOut

  .btn-line
    width: $btn-width
    height: $btn-line-height
    margin-bottom: $btn-line-space
    background: $text-default-color

    +easeOut

  //button animation x
  &.close
    transform: rotate(180deg) translate(0px, 10px)

    .btn-line
      background: $accent-color

      &:nth-child(1)
        transform: rotate(45deg) translate(5px, 4px)

      &:nth-child(2)
        opacity: 0

      &:nth-child(3)
        transform: rotate(-45deg) translate(8px, -8px)

.menu
  z-index: 2
  width: 100%
  height: 100vh
  background: rgba($primary-color, 0.9)
  transform: translateX(100%)

  +easeOut

  &.show
    transform: translateX(0%)
    z-index: 4

  &-nav
    padding-top: 15vh
    padding-left: 20vw
    display: grid
    align-items: center
    justify-items: start
    list-style: none
    font-size: 2rem

    .nav-item
      padding: 0.5rem 0px

      +easeOut

      a
        color: $text-default-color
        border-bottom: 0px $text-default-color solid

        +easeOut

      &:hover
        padding: 2.2rem 0px

        a
          color: $accent-color
          border-bottom: 5px $accent-color solid

/* Devices set to landscape mode.
@media only screen and (max-width: 599px) and (orientation: landscape)
  .menu
    &-nav
      padding-top: 10vh
      padding-left: 0
      padding-right: 20vw
      justify-items: end
      font-size: 1rem

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px)
  .menu
    &-nav
      padding-top: 10vh
      padding-left: 0
      padding-right: 10vw
      justify-items: end
      font-size: 2.5rem

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px)
  .ipsum
    visibility: visible

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px)
  .menu
    &-nav
      padding-top: 7vh
      padding-left: 0
      padding-right: 7vw
      justify-items: end
      font-size: 3.5rem

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px)
  .ipsum
    visibility: visible
