// main: master.sass
.skill
  max-width: 450px
  +lowerHorzRule(true)
  &-icon
    font-size: 7rem
    color: $dark-accent
  &-name
    font-family: $neuton
    font-size: 2.1rem
    padding-bottom: 1rem
  &:last-child
    +lowerHorzRule(false)
