@import ./config.sass

*
  box-sizing: border-box
  margin: 0
  padding: 0
  line-height: 1.5
  font-family: $lato

body
  height: 100vh

h1, h2, h3
  &.main-title
    font-size: 6rem
    font-family: $neuton
    span
      font-family: inherit
